name: CI - Docker images

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  REPOSITORY_OPTIMIZER: aivm/optimizer
  TAG: 0.16.4

concurrency:
  group: build_images_development
  cancel-in-progress: true

jobs:
  build_x86_64:
    name: Build Images - x86_64
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: development
    timeout-minutes: 30
    steps:
      - name: Configure AWS credentials using OIDC
        id: aws-creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/chaingpt_github_oidc_role
          aws-region: us-east-1
          role-session-name: chaingpt_github_oidc_role

      - name: Build - Git Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Setup docker buildx
        run: |
          docker buildx create --use --name multiarch --platform linux/amd64,linux/arm64

      - name: Setup Docker Cache
        id: docker-cache
        run: |
          echo "Setting up Docker cache for layers"
          mkdir -p /tmp/.buildx-cache

      - name: Build - Get ECR Repository optimizer
        run: |
          aws ecr-public describe-repositories --region $AWS_REGION --repository-names $REPOSITORY_OPTIMIZER > /dev/null 2>&1 || \
            aws ecr-public create-repository --region $AWS_REGION  --repository-name $REPOSITORY_OPTIMIZER

      - name: Build - Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Build - x86_64
        id: build-image-base-image-x86-64
        env:
          DOCKER_BUILDKIT: 1
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker buildx build --pull --platform linux/amd64 -t $ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER:$TAG --target rust-optimizer  --cache-from=type=registry,ref=$ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER:cache --cache-to=type=registry,mode=max,image-manifest=true,oci-mediatypes=true,ref=$ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER:cache --load  .
          docker push $ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER:$TAG

  build_arm64:
    name: Build Images - arm64
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    environment: development
    timeout-minutes: 120
    steps:
      - name: Configure AWS credentials using OIDC
        id: aws-creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/chaingpt_github_oidc_role
          aws-region: us-east-1
          role-session-name: chaingpt_github_oidc_role
      - name: Build - Git Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: Setup docker buildx
        run: |
          docker buildx create --use --name multiarch --platform linux/amd64,linux/arm64
      - name: Setup Docker Cache
        id: docker-cache
        run: |
          echo "Setting up Docker cache for layers"
          mkdir -p /tmp/.buildx-cache
      - name: Build - Get ECR Repository optimizer
        run: |
          aws ecr-public describe-repositories --region $AWS_REGION --repository-names $REPOSITORY_OPTIMIZER-arm64 > /dev/null 2>&1 || \
            aws ecr-public create-repository --region $AWS_REGION  --repository-name $REPOSITORY_OPTIMIZER-arm64
      - name: Build - Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public
      - name: Build and Push - arm64
        id: build-image-base-image-arm64
        env:
          DOCKER_BUILDKIT: 1
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker buildx build --pull --platform linux/arm64 -t $ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER-arm64:$TAG --target rust-optimizer  --cache-from=type=registry,ref=$ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER-arm64:cache --cache-to=type=registry,mode=max,image-manifest=true,oci-mediatypes=true,ref=$ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER-arm64:cache --load  .
          docker push $ECR_REGISTRY/${{ secrets.ECR_ACCOUNT_ID }}/$REPOSITORY_OPTIMIZER-arm64:$TAG
